---
interface Props {
	title: string;
	lang: string;
}

const { title, lang } = Astro.props;
const { PROJECT_NAME } = import.meta.env;
const PUBLIC_SERVER_URL = import.meta.env.PUBLIC_SERVER_URL;
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/x-icon" href="/icon.ico" />
        <link rel="stylesheet" href="/normalize.css"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />
		<title>{PROJECT_NAME} | {title}</title>
		<script src="../scripts/layout.js"></script>
	</head>
	<body data-server-url={PUBLIC_SERVER_URL}>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
